.red-orange{
    color: #ff575a;
}
.flexible-container{
    display: flex;
}
.half-width{
    width: 50%;
}
.half-width img{
    width: 50%;
    padding: 0%;
}
.link-button{
    text-decoration: none;
    color: white;
    font-weight: 600;
    background-image: linear-gradient(#ff575a, #f36e83);
    padding: 10px 20px;
    border-radius: 30px;
    box-shadow: 2px 2px 20px #ff575a88;
}